/* add some styles */
img{
  margin: 20px 60px;

}

.save-status{
  display: none;
  background-color: #ff6666;
  border-radius: 20px;
}

.success{
  display: none;
  background-color: #66ff66;
  border-radius: 20px;
}
